﻿@{
    ViewBag.Title = "Home Page";
    var margin = "margin-bottom:10px;margin-right";
}
<br />
<div class="row" id="content" style="text-align:center"><h1 style="color:orange;">Web Colors</h1></div>

<br />
@section scripts{
<script>

    $(document).ready(function () {
        var i = 0;
        for (var red = 0; red <= 255; red += 8)
        {
            for (var green = 0; green <= 255; green += 8)
            {
                for (var blue = 0; blue <= 255; blue += 8)
                {
                    i++;
                    $("#content").append('<div class="col-lg-1"  style="color:orange;@margin">' 
                        + '' + i + '<br />'
                        + '<div style="height:100px;background-color:rgb(' + red + ',' + green + ',' + blue + ');"></div>'
                        +'</div > ');
                }
            }
        }
    });

</script>
}